.wrapper{
    background-image: url(https://img.freepik.com/premium-photo/abstract-black-textured-background-with-scratches_130265-12474.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
